#content {
    height: 250px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#content mark {
    background-color: #ffed4a;
}

#fill, #typeIn, #quiz {
    display: none;
}

code {
    background-color: #dbf4d7 !important;
    border-left: 5px solid #44bd32 !important;
    padding: 15px !important;
    font-size: 16px !important;
    font-family: "Nunito", sans-serif !important;
    color: #212529;
}

blockquote {
    background-color: #ffeaa7 !important;
    border-left: 5px solid #f39c12 !important;
    padding: 10px !important;
    font-size: 15px !important;
    font-family: "Nunito", sans-serif !important;
    margin: 30px 0;
}

code p, blockquote p {
    padding: 0!important;
    margin: 0!important;
}


