body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.8;
	background-color: #444;
}

code {
    background-color: #dbf4d7 !important;
    border-left: 5px solid #44bd32 !important;
    padding: 15px !important;
    font-size: 16px !important;
    font-family: "Nunito", sans-serif !important;
    color: #212529;
}

blockquote {
    background-color: #ffeaa7 !important;
    border-left: 5px solid #f39c12 !important;
    padding: 10px !important;
    font-size: 15px !important;
    font-family: "Nunito", sans-serif !important;
    margin: 30px 0;
}

code p, blockquote p {
    padding: 0!important;
    margin: 0!important;
}

/**/

.myNav {
	background: linear-gradient(90deg, #341f97,#6a89cc);
	padding-top: 25px !important;
	padding-bottom: 25px !important;
	transition: all 0.5s;
}

.myNav .navbar-brand {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 3px;
}

.myNav .nav-link {
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #fff !important;
}


/**/

.playground {
	padding: 116px 4%;
	background-color: #d9d9d9;
	min-height: 100vh;
}

.playBox {
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	background: #fdfdfd;
	padding: 30px 15px;
	font-size: 16px;
	color: #222;
}

.certificate img {
	border-radius: 0!important;
}

.play-success {
	background-color: #4cd137 !important;
}

.play-next, .play-next i {
	background-color: #0984e3 !important;
}

.play-locked {
	background-color: #b2bec3 !important;
}

.play-disabled, .play-disabled i {
	pointer-events: none !important;
    opacity: 0.5 !important;
}

.tab-next i {
    background-color: #0984e3 !important;
}


/**/

.module, .certificate {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.module-logo, .certificate-logo {
	border-top-left-radius: 25%;
	border-bottom-right-radius: 25%;
	width: 40%;
	margin-bottom: 15px;
	padding: 20px;
	cursor: pointer;
}


.module p, .certificate p {
	font-weight: 500;
	font-size: 1.1em;
}

/**/

.lesson {
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.l-body {
	background-color: #f4f4f4;
	padding: 10px 10px 2px;
	min-height: 120px;
	max-height: 120px;
	overflow: hidden;
	color: #333;
	border-top-left-radius: 15px;
}

.l-body p {
	text-align: right;
	font-size: 12px;
}

.l-body h6 {
	font-size: 14px;
}

.l-foot {
	color: #fcfcfc;
	font-weight: 500;
	padding: 10px;
	font-size: 12px;
	word-spacing: 2px;
	border-bottom-right-radius: 15px;
}


/**/

.back-container {
	position: relative;
}

.back-area {
	position: absolute;
	left: -90px;
	top: 131px;
	z-index: 10;
}

.back-area button {
	width: 75px;
	height: 75px;
	text-align: center;
	line-height: 75px;
	border-radius: 50%;
	background: none;
	border: none;
	outline: none;
	color: #fff;
	font-size: 24px;
}

/**/

.tab-list {
	overflow: auto;
	white-space: nowrap;
	margin-top: 4px;
}

.tab {
	display: inline-block;
	cursor: pointer;
}

.tab i {
	color: #333;
	background-color: #fcfcfc;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 20px;
}

.questionForm {
	padding-top: 40px;
}

input[type=text] {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #222;
    text-align: center;
    font-weight: 500;
    color: #222;
    background: none;
    padding: 0;

}

.next-button {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
	background-color: #4cd737;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 50%;
}

.next-button i {
	font-weight: 300;
}


/**/

.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #d2dae2;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #575fcf;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 14px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
	display: block;
	margin-bottom: 10px;
}



/**/

@media screen and (max-width: 992px) {

	.myNav {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.scrollUp {
	    transform: translateY(-95px);
	}

	.playground {
		padding-top: 110px;
	}

	.module-logo {
		width: 60%;
		padding: 10px;
	}
	.back-area {
		left: 0;
		top: 75px;
		z-index: 10;
		width: 100%;
	}

	.back-area button {
		width: 100%;
		height: 35px;
		line-height: 35px;
		border-radius: 0;
		font-size: 12px;
		background: #b2bec3;
	}

	.playBox {
		background: #fcfcfc;
		padding: 20px 10px;
		font-size: 14px;
	}

	.tab i {
		padding: 10px;
	}
}







/* SPINNER */
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #3c40c6;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

/* SPINNER */
