body {
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    background-color: #f2f2f2;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
}

.section-padding {
	padding-top: 83px;
}

/* buttons */

.myBtn {
	border-radius: 50px;
	padding: 10px 30px;
	transition: 0.3s;
	margin-top: 5px;
	display: inline-block;
}

.myBtnGreen {
	background-color: #fff;
	color: #4cd137 !important;
	border-color: #4cd137;
}

.myBtnGreen:hover {
	background-color: #4cd137;
	color: #fff !important;
	border-color: #4cd137;
}

.myBtnBlue {
	background-color: #fff;
	color: #0984e3 !important;
	border-color: #fff;
}

.myBtnBlue:hover {
	background-color: #0984e3;
	color: #fff !important;
	border-color: #0984e3;
}

.myBtnPurple {
	background-color: #2e86de;
	color: #fff !important;
	border: 1px solid #2e86de;
}

.myBtnPurple:hover {
	background-color: #fff;
	color: #2e86de !important;
	border: 1px solid #2e86de;
}


/* NAVBAR */


.myNav {
	background: none !important;
	padding: auto !important;
}

.myNav:hover {
	background-color: #0652DD !important;
}

.solid {
	background: #0652DD !important;
}

.myNav .navbar-brand {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 3px;
}

.myNav .nav-link {
	padding: 20px 15px !important;
	font-size: 15px !important;
	font-weight: 500 !important;
	color: #fff !important;
}

.myNav .nav-link:hover {
	border-top: 3px solid #fff;
	padding: 17px 15px !important;
}

.myAlert {
    background-color: #4cd137 !important;
    color: #fff !important;
}


/* HEADER */

.header {
	padding-top: 83px;

	width: 100%;
	height: 100vh;
	background-image: url(../img/bg/bg-7.png);
	background-position: center center;
	background-size: cover;
	background-color: #74b9ff;
}

.header h2 {
	color: #fff;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 20px;
}

.header p {
	color: #fff;
}

.header-left {
	margin-top: 150px;
}

.header-slider {
	margin: 75px 150px;
}

.header-slider img {
	width: 250px !important;
	border-top: 20px solid #fff;
	border-bottom: 20px solid #fff;
	border-right: 10px solid #fff;
	border-left: 10px solid #fff;
	border-radius: 20px;
}


/* COURSES */

.course {
	padding: 40px;
	background-color: #ffffff;
	border: 2px solid #d9d9d9;
	border-radius: 5px;
	box-shadow: 5px 5px 5px -10px rgba(0, 0, 0, 0.3);
}

.course-img {
	border-radius: 50%;
	width: 125px;
}

.course-title {
	font-size: 22px;
	font-weight: 600;
	color: #333;
}

.course-summary {
	font-weight: 300;
}

.course p {
	color: #000;
}

/* PROCESS */

.process {
	background: linear-gradient(#74b9ff,#0652DD);
}

.process h2 {
	font-size: 40px;
	margin-bottom: 20px;
	font-weight: 700;
	color: #fff;
}

.process p {
	color: #fff;
}


.carousel-indicators {
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 0;
}

.carousel-indicators li {
	width: 25%;
	height: 50px;
	text-indent: unset;
	margin: 0;
	background: inherit;
	border-top: 3px solid #fff;
	border-top-right-radius: 5px;
	padding: 20px;
	color: white;
}


/* TESTIMONIALS */

.testimonials h2 {
	color: #444;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 40px;
}

.person-quote {
	border: 2px solid #d9d9d9;
	padding: 20px;
	margin-bottom: 35px;
	min-height: 250px;
	position: relative;
	background-color: #fff;
}
.person-quote::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 12.5px 0 12.5px;
    border-color: #d9d9d9 transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    z-index: -1;
}

.person-quote:hover {
	border-color: #444;
}

.person-quote:hover::after {
	border-color: #444 transparent transparent transparent;
}

.person-img {
	border-radius: 50%;
}

.person-name {
	font-weight: 600;
}

.person-course {
	color: #777;
}


/* FOOTER */

footer {
	background: linear-gradient(#74b9ff,#0652DD);
}

.social i {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #fff;
	display: inline-block;
	border-radius: 50%;
	font-size: 20px;
}

.social p {
	line-height: 50px;
	color: #fff;
}

.fa-twitter {
	color: #74b9ff;
}

.fa-facebook {
	color: #0652DD;
}

.fa-instagram {
	color: #B53471;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li a {
	font-weight: 500;
	color: #d2d2d2 !important;
	padding: 10px;
	display: block;
}

.company h6 {
	color: #fff;
}

.company p {
	color: #d2d2d2;
}

.logo {
	color: #fcfcfc;
}



/* ALL COURSES */

.all-courses {
	font-size: 14px;
}

.a-course, .course-accord, .myBox {
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
	background: #fff;
	padding: 30px;
}

.a-course h4 {
	font-weight: 600;
	font-size: 22px;
}

.a-course img {
	border-radius: 50%;
}

.course-accord .card-header {
	font-weight: 600;
	color: #444;
}

.course-accord ol li {
	font-weight: 500;
	padding: 5px 0;
}

.course-accord h5 {
	font-size: 20px;
}

#ders {
	color: #444;
}

#soru {
	color: #55efc4;
}


/* AUTH */

.form h2 {
	font-size: 32px;
	margin-bottom: 30px;
	font-weight: 500;
	color: #333;
}

.text-register {
	font-size: 15px;
	color: #0c2461 !important;
	padding: 10px;
}

.text-register:hover {
	text-decoration: underline;
}


/* PROFILE */

.profile img {
	border-radius: 50%;
}

.user-edit {
	display: none;
}

.myCourseSingle img {
    width: 80px;
}

.logo-container {
	background-image: url(../img/logo/logo600.png);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 30px;
}


/* RWD */

@media screen and (max-width: 992px) {

	.header {
		overflow: hidden;
	}

	.header-left {
		margin-top: 150px;
	}

	.header-slider {
		display: none !important;
	}

	.person-quote {
		min-height: 200px;
	}

	footer {
		text-align: center;
	}

	.logo-container {
		display: none;
	}
}

@media screen and (max-width: 475px) {

	h2 {
		font-size: 22px !important;
	}

	p {
		font-size: 14px !important;
	}

	.header {
		height: 75vh;
		overflow: hidden;
	}

	.header-left {
		margin-top: 30px;
	}

	.header .myBtn {
		padding: 10px 15px;
		font-size: 14px;
	}

	.carousel-indicators li {
		font-size: 12px;
		padding: 5px;
		overflow: hidden;
		font-weight: 300;
	}

	.course {
		font-size: 14px;
		padding: 10px;
	}

	footer {
		text-align: center;
	}

}
